<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
  </head>
  <body>
    <h1>Здарова, отец!</h1>
    <p>
      Тестовое письмо для <%= @user.name %>
      Пришло вот отсюда - <%= @url %>
    </p>
  </body>
</html>
